<nz-divider nzText="About Raspado" nzOrientation="left" style="margin-top: -30px;"></nz-divider>
<div nz-row>
    <div nz-col nzSpan="20" nzOffset="2">
        <!-- <nz-spin nzSimple [nzSize]="'small'" [nzTip]="Shivam"> </nz-spin> -->
        <i>RaspadoGit, a Single Page Web Application (SPA), developed on Angular (v8.2.1), where you can interacted with
        public repositories of Github Users. Also can get their details eg. Location, Company, Portfolio.<br />
        Developed with <i nz-icon [nzType]="'heart'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i> by -
        <a href="https://shivamv12.github.io/" target="_blank"> Shivam V.</a></i>
    </div>
</div><br/>